
li a {
    color: blue;             
    display: block;          
    text-align: center;     
    font-size: 24px;        
    text-decoration: none;   
    padding: 5px 0;          
}

/* Optional: change color on hover */
li a:hover {
    color: darkblue;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover; 
}
